<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biblioteka - Logowanie</title>
</head>

<body>
  <form id="login-form">
    <p>Login:</p>
    <input id="login" type="text" name="login" v-model="login">
    <p>Hasło:</p>
    <input id="password" type="password" name="password" v-model="password">
    <button id="login-button" @click.prevent="logIn">Zaloguj</button>
    <div id="validation-error">{{validationError}}</div>
  </form>
</body>

</html>
